@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(207, 207, 207);
}

.portrait {
    border-radius: 1rem;
}

header .title {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

header h1 {
    margin-left: 1rem;
}

header nav {
    display: flex;
    margin-right: 1rem;
}

.navButton {
    text-decoration: none;
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(233, 233, 233);
    font-size: 20px;
    padding: 1rem;
    border-radius: 1rem;
    transition: 0.4s;
}

.navButton:hover {
    transform: scale(1.1);
    background-color: rgb(207, 207, 207);
}

.form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: rgb(207, 207, 207);
    padding: 3rem;
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: 10px 10px 1rem black;
}

fieldset {
    border: 0;
}

input {
    width: 100%;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

textarea {
    width: 100%;
    height: 7rem;
}

textarea:invalid {
    border: 1px solid red;
}

textarea:valid {
    border: 1px solid green;
}

#submit-button {
    display: block;

    border: 0;
    background-color: rgb(0, 255, 0);
    padding: 0.7rem 1rem 0.7rem 1rem;
    border-radius: 1rem;

    margin-left: auto;
    margin-right: auto;
    transition: 0.4s;
}

#submit-button:hover {
    background-color: rgba(0, 255, 0, 0);
    transform: scale(1.1);
}

.nav-bar {
    display: flex;

    position: fixed;
    top: 40%;
    left: -245px;

    background-color: rgb(235, 235, 235);
    width: 300px;
    height: 200px;

    border-radius: 1rem;

    flex-direction: column;
    justify-content: space-around;
    transition: 0.8s;
}
.nav-bar:hover {
    left: 0;
}

.nav-bar-item {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;

    margin: 0.3rem;
}

.bar-item-icon {
    width: 45px;
    height: 45px;
}

.item-text {
    font-size: 12px;

    margin-right: 1rem;
}

.bar-arrow {
    width: 30px;
    height: 30px;

    transition: 0.3s;
}

.bar-arrow:hover {
    transform: scale(1.1);
}

.mainPic {
    background-image: url(Bilder/cetusXMainPic.jpg);
    background-position: left center;
    height: 800px;
}

.aboutMe {
    background-color: rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1.5rem;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: azure;
}